body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.1;
  margin: 0;
}

.mainbox {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Comfortaa';
}

.line {
  width: 100%;
  max-width: 1600px;
  margin: 20vh auto 0;
}

.flexxx {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexitem {
  border: 2px solid #000000;
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  position: relative;
  font-weight: bold;
  transition: all 0.5s linear 0s;
}

.flexitem:hover {
    background-color: black;
    color: white;
}

.flexitem:hover .flex1 {
    height: auto;
    position: absolute;
    color: black;
    top: 150%;
    text-align:left;
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

.flexitem:hover .nonhover {
  height: 0;
  opacity: 0;
}

.flexitem:hover .withhover {
  height: auto;
  opacity: 1;
}

.flex1, .withhover {
  height: 0px;
  overflow:hidden;
  opacity: 0;
  transition: opacity 0.5s linear 0s;
}

#el.animate {
  transform: translateY(-55vh);
  transition: transform 0.5s linear 0s;
}

#hader.animate {
  transform: translateY(-55vh);
  transition: transform 0.5s linear 0s;
}

#el1.animate, #el2.animate, #el3.animate, #el4.animate, #el5.animate {
  color: white;
  background-color: black;
  flex: 3;
  transition: flex 0.5s linear 0s;
}

h1 {
  margin-top: 15vh;
  font-size: 96px;
}

h3 {
  margin: 0 auto;
}
.headerinf h2 {
  border-bottom: 2px solid maroon;
  padding-bottom: 20px;
}

.information {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
}

#information1.animate, #information2.animate, #information3.animate, #information4.animate, #information5.animate {
  height: auto;
  overflow:  hidden;
  opacity: 1;
  transform: translateY(-50vh);
  transition: opacity 0.5s linear 0s,transform 0.5s linear 0s;
}
#information1.animateL, #information2.animateL, #information3.animateL, #information4.animateL, #information5.animateL {
  height: auto;
  overflow:  hidden;
  opacity: 1;
  transform: translate(-50vh);
  transition: opacity 1s linear 0s,transform 1s linear 0s;
}

#png {
  margin: 5% 5% 5% 15%;
  max-width: 40%;
}

ul {
  margin: 3% 5%;
  font-size: 22px;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: inherit;
}


#inftext {
  font-size: 22px;
  width: 850px;
  margin: 0 auto;
}

#inftext p {
  width: 700px;
  margin: 0 auto;
}
h3 {
    margin: 8% 8% 4%;
}

#inftext h3 {
  margin-top: 200px;
  font-size: 36px;
  text-align: center;
}


.headerinf {
  margin: 2% 0% 20% 0%;
  font-size: 54px;
  font-weight: bold;
  max-width: 40%;
  font-family: 'Comfortaa';
}

nav ul {
  font-size: 36px;
  list-style-type: none;
  margin: 3% 0%;
  padding-left: 0%
}

nav ul li {
  margin: 3% 0%;
}

#back-top {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    margin-left: 95%;
    z-index:99991;
    }

#back-top a{
    width: 77px;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    display:block;
    text-decoration:none;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;

    }

#back-top a:hover{
    height: 70px;
    background: #000000;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: white;
    }

#information1 h2, #information1 h3 {
  color: #ab2b2d;
  font-family: 'Comfortaa';
}

#information2 h2, #information2 h3 {
  color: #250f61;
  font-family: 'Comfortaa';
}

#information2 .headerinf h2 {
border-bottom: 2px solid #250f61;
padding-bottom: 20px;
}

#information3 h2, #information3 h3 {
  color: #37694d;
  font-family: 'Comfortaa';
}

#information3 .headerinf h2 {
border-bottom: 2px solid #37694d;
padding-bottom: 20px;
}

#information4 h2, #information4 h3 {
  color: #542859;
  font-family: 'Comfortaa';
}

#information4 .headerinf h2 {
border-bottom: 2px solid #542859;
padding-bottom: 20px;
}

#information5 h2, #information5 h3 {
  color: #1e6367;
  font-family: 'Comfortaa';
}

#information5 .headerinf h2 {
border-bottom: 2px solid #1e6367;
padding-bottom: 20px;
}

#information img {
}

.break {
  flex-basis: 100%;
  height: 0;
}
